.skills {
  max-width: 1100px;
  margin: 0 40px;
  margin: auto;
  height: 78vh;
  align-items: center;
  display: flex;
  text-align: left;
}
.skills .container h4 li {
  max-width: 1000px;
  color: #ddd;
  font-weight: 200;
  list-style: none;
  line-height: 32px;
}
.skills .container li::before {
  content: "\2b50";
  color: #eb9340;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-right: 1rem;
  /* margin-left: -1em; */
}

@media only screen and (max-width: 768px) {
  .skills{
    margin: 0 25px;
  }
  .skills .container h4 li{
    font-size: 14px;
  }
}
