.home {
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0;
  background: url("https://res.cloudinary.com/dmixz7eur/image/upload/v1673565701/b2_bjtsmq.jpg");
  background-size: cover;
}
.navbar {
  width: calc(100% - 80px);
  margin: 0%;
  padding: 0 40px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 12vh;
}
.home .logo{
  display: flex;
}
.home .logo img {
  width: 40px;
  cursor: pointer;
}
.home .navbar .navLinks {
  display: flex;
  justify-content: space-between;
}
.home .navbar .navLink,
.home .navbar .navLinkActive {
  margin: 0 20px;
}
.home .navbar .navLink li {
  list-style: none;
  color: #bbb;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  cursor: pointer;
  font-weight: 500;
}
.home .navbar .navLink .activeLine {
  margin-top: 12px;
  height: 5px;
}
.home .navbar .navLinkActive li {
  list-style: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  cursor: pointer;
  font-weight: 700;
}
.home .navbar .navLinkActive .activeLine {
  display: flex;
  width: 40px;
  height: 5px;
  border-radius: 20px;
  background-color: #eb9340;
  margin-top: 12px;
}
.home .container .social {
  position: absolute;
  bottom: 0;
  left: 0;
}

.home .container .myName {
  display: flex;
  font-size: 20px;
  color: #ccc;
  align-items: center;
  display: flex;
  font-family: "Roboto Slab", serif;
}
.home .container .myName .name {
  color: #eb9340;
  padding: 8px 20px;
  cursor: pointer;
  margin-right: 30px;
  font-weight: 300;
}
.header{
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-weight: 300;
  color: #ddd;
  text-align: left;
}
.header span{
  color: #eb9340;
}
h4{
  text-align: left;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}
h5{
  text-align: left;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
}

